body.light-mode{
    background-color: rgb(212, 162, 220);
}
body.light-mode div p{
    background-color: var(--alvarsBorder-);
    border: solid var(--ellasLila-);
    color: black;
}
.light-mode header{
    background-color: white;
    border: solid var(--ellasLila-)
}
.light-mode h1{
    color: rgb(36, 0, 70);
}
body.light-mode .j-text{
    border: 0px solid var(--ellasLila-);
    border-radius: 10px;
}
body.light-mode .j-text p{
    border-radius: 10px;
    padding: 20px;
}
body.light-mode footer{
    background-color: white;
    color: black;
}
body.light-mode footer p {
    background-color: none;
    color: black;
}
body.light-mode footer i {
    color: black;
}
.light-mode button{
    background-color: var(--ellasLila-);
    border: solid var(--alvarsBorder-);
}
.light-mode .elliot-text{
    background-color: var(--alvarsBorder-);
    color: black;
    border: solid var(--ellasLila-);
}
.light-mode h2{
    color: black;
}
.light-mode strong{
    color: black;
}
.light-mode .ella-img{
    background-color: var(--alvarsBorder-);
    color: black;
    border: solid var(--ellasLila-);
}
