:root{
    --ellasLila-: rgb(157, 78, 221);
    --alvarsBorder-: rgb(244, 170, 255);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    font-family: monospace;
    font-size: 20px;
    color: white;
}


body{
    display: flex;
    flex-direction: column;
    background-color: rgb(90, 24, 154);
}
button{
    background-color: var(--alvarsBorder-);
    border: 2px solid var(--ellasLila-);
    border-radius: 50px;
    width: 10%;
    height: 50px;
    margin: 0 20px 40px 0;
    align-self: flex-end;
}
header{
    background-color: rgb(36, 0, 70);
    margin-bottom: 20px;
    padding: 30px 0;
    overflow: hidden;
    position: relative;
    height: 90px;
    border-bottom: 3px solid var(--alvarsBorder-);
    color: white
}
.scroll-c{
    position: absolute;
    display: flex;
    white-space: nowrap;
}
h1{
    font-size: 1.5rem;
    white-space: nowrap;
    padding: 0 40px;
    display: inline-block;
}

.elliot{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 40px;
}
.elliot-text{
    width: 80%;
    background-color: var(--ellasLila-);
    padding:20px;
    border: 2px solid var(--alvarsBorder-);
    border-radius: 10px;
    text-align: left;
    color: white;
}
.elliot h2{
    font-size: 24px;
    color: white;
}


#img-text{
    font-size: 14px;
    font-style: italic;
}

.jacob{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}
video{
    height: 400px;
    width: auto;
    margin-bottom: 40px;
}
.j-text{
    padding: 20px;
    width: 80%;
    display: flex;
    flex-direction: row;
    margin: 0 20px;
    background-color: var(--ellasLila-);
    border: 2px solid var(--alvarsBorder-);
    border-radius: 10px;
}

.ella{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}
.ella-img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 40px 0;
    background-color: var(--ellasLila-);
    border: 2px solid var(--alvarsBorder-);
    border-radius: 10px;
}
.ella-text{
    align-items: center;
    justify-content: center;
    text-align: left;
    display: flex;
    flex-direction: column;
    margin: 0 40px;
    align-items: center;
    justify-content: space-evenly;
}
.ella-text p{
    width: 85%;
    background-color: var(--ellasLila-);
    border: 2px solid var(--alvarsBorder-);
    border-radius: 10px;
    padding: 20px;
}
.ella-text img{
    width: 40%;
}
.e-simon{
    display: flex;
    justify-content: space-evenly;
}
.e-simon p{
    width: 40%;
    background-color: var(--ellasLila-);
    border: 2px solid var(--alvarsBorder-);
    border-radius: 10px;
    padding: 20px;
}
 #kastanj{
    width: 75%;
   align-content: center;  /* jag orkar inte!!! */
}
footer{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    padding: 20px;
    background-color: rgb(36, 0, 70);
}

@media screen and (max-width: 480px) {
    *{
    width: 100%;
    font-size: 12px;
    }
    body{
        display: flex;
        flex-direction: column;
    }
    button{
        font-size: 15px;
        width: 70px;
        height: 40px;
        align-self: flex-start;
        margin-right: 10px;
    }
    header{
        height: 80px;
        width: 100%;
    }
    h1{
        font-size: 1rem;
        padding: 0 20px;
    }
    p > i{
        font-size: 8px;
    }
    .elliot {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .elliot p{
        padding: 5px;
        width: 85%;
        margin-bottom: 20px;
    }
    #img-text{
        font-size: 10px;
    }
    video{
        height: 200px;
        width: 80%;
    }
    .j-text{
        display: flex;
        flex-direction: column;
        padding: 10px ;
    }
    .ella img{
        width: 90%;
    }
    .ella-img{
        display: flex;
        flex-direction: column;
    }
    .ella-text{
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }
    .ella-text p, .ella-text img{
        width: 80%;
    }
    .e-simon{
        display: flex;
        flex-direction: column;
        padding: 10px 0;
        margin: 10px 0;
    }
    .e-simon p{
        width: 80%;
        align-self: center;
        justify-content: center;
        margin: 10px 0;
    }
    #kastanj{
        width: 60%;
    }
    .footer{
        flex-wrap: nowrap;
    }
}