:root{
    --ellasLila-: rgb(157, 78, 221);
    --borderPurple-: rgb(244, 170, 255);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    font-family: monospace;
}
body{
    display: flex;
    flex-direction: column;
    background-color: rgb(90, 24, 154);
}
header{
    background-color: rgb(36, 0, 70);
    margin-bottom: 20px;
    padding: 30px 0;
    overflow: hidden;
    position: relative;
    height: 90px;
    border-bottom: 3px solid var(--borderPurple--);
    color: white
}
.scroll-c{
    position: absolute;
    display: flex;
    white-space: nowrap;
}
h1{
    white-space: nowrap;
    padding: 0 40px;
    display: inline-block;
}

.elliot{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 40px;
}

.elliot p{
    width: 40%;
    font-size: 20px;
    background-color: var(--ellasLila-);
    padding:20px;
    border: 2px solid var(--borderPurple-);
    border-radius: 10px;
    text-align: center;
}
#img-text{
    font-size: 14px;
    font-style: italic;
}

.jacob{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}
video{
    height: 400px;
    width: 70%;
    margin-bottom: 40px;
}
.j-text{
    width: 80%;
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin: 0 20px;
    background-color: var(--ellasLila-);
    border: 2px solid var(--borderPurple-);
    border-radius: 10px;
}

.ella{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}
.ella-text{
    text-align: center;
    display: flex;
    flex-direction: row;
    margin: 0 40px;
    align-items: center;
    justify-content: space-evenly;
}
.ella-text p{
    width: 35%;
}
.ella-text img{
    width: 40%;
}

